config.dtd

<!-- Root element -->
<!ELEMENT conversion (convertcoordinates?, (md2mesh|md3mesh))>

<!-- Convert vectors to Ogre coordinate system -->
<!ELEMENT convertcoordinates EMPTY>

<!-- This element determines type of conversion -->
<!ELEMENT md2mesh (inputfile, outputfile, animations?, materials?)>
<!ELEMENT md3mesh (inputfile, outputfile, animationfile?, animations?, materials?)>

<!-- Filenames -->
<!ELEMENT inputfile (filename)>
<!ELEMENT outputfile (filename)>
<!ELEMENT filename (#PCDATA)>

<!-- Quake 3 animation file -->
<!ELEMENT animationfile (filename, animationgroup, (convertall|animationname+))>
<!ELEMENT animationgroup (grouplower|groupupper)>
<!ELEMENT grouplower EMPTY>
<!ELEMENT groupupper EMPTY>
<!ELEMENT convertall EMPTY>
<!ELEMENT animationname (#PCDATA)>

<!-- Individual animation definitions -->
<!ELEMENT animations (animationsequence+)>
<!ELEMENT animationsequence (animationname, startframe, numframes, fps)>
<!ELEMENT startframe (#PCDATA)>
<!ELEMENT numframes (#PCDATA)>
<!ELEMENT fps (#PCDATA)>

<!-- Materials -->
<!ELEMENT materials (material+)>
<!ELEMENT material (materialname, submeshname, texture?)>
<!ELEMENT materialname (#PCDATA)>
<!ELEMENT submeshname (#PCDATA)>
<!-- If left out, no material script will be written -->
<!-- Texture file path doesn't actually have to correct either -->
<!ELEMENT texture (filename)>

<!-- TODO: Add MD3 player models (lower, upper, head) -->
<!-- TODO: Add tag-to-skeleton support -->
<!-- TODO: Check if 'materials' tag is appropriate for MD2 -->
