config.dtd

<!-- Root element -->
<!ELEMENT conversion (convertcoordinates?, (md2mesh|md3mesh))>

<!-- Convert vectors to Ogre coordinate system -->
<!ELEMENT convertcoordinates EMPTY>

<!-- This element determines type of conversion -->
<!ELEMENT md2mesh (inputfile, outputfile, referenceframe?, animations?, materialname?)>
<!ELEMENT md3mesh (inputfile, outputfile, referenceframe?, animationfile?, animations?, materials?)>

<!-- Filenames -->
<!ELEMENT inputfile (filename)>
<!ELEMENT outputfile (filename)>
<!ELEMENT filename (#PCDATA)>

<!-- Frame that will be used for the non-animated pose. The model's normals will be taken from this frame. -->
<!ELEMENT referenceframe (#PCDATA)>

<!-- Quake 3 animation file -->
<!ELEMENT animationfile (filename, (convertlegs|converttorso|convertselection))>
<!ELEMENT convertlegs EMPTY>	<!-- Convert all LEGS_ and BOTH_ animations -->
<!ELEMENT converttorso EMPTY>	<!-- Convert all TORSO_ and BOTH_ animations -->
<!ELEMENT convertselection (animationname+)>		<!-- Convert specific animations -->
<!ELEMENT animationname (#PCDATA)>

<!-- Individual animation definitions -->
<!ELEMENT animations (animationsequence+)>
<!ELEMENT animationsequence (animationname, startframe, numframes, fps)>
<!ELEMENT startframe (#PCDATA)>
<!ELEMENT numframes (#PCDATA)>
<!ELEMENT fps (#PCDATA)>

<!-- Materials -->
<!ELEMENT materials (material+)>
<!ELEMENT material (submeshname, materialname)>
<!ELEMENT submeshname (#PCDATA)>
<!ELEMENT materialname (#PCDATA)>

